{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block header %}
<a class="big" href="/">Home</a>
{% endblock %}

{% block body %}
<div>
    <div class="contributionForm">
        <form style="display: flex;" name="jarOne" class="jarform" id="formOne" action="{{ url_for('contribute')}}"method="post">
            <div>
                <h3>Jar #1</h3>
                <select name="jarOne[]" id="coagulants1" method="post">
                    <option hidden="" disabled="disabled" selected="selected" value=0>Select Coagulant</option>
                    <option value=1>Polyaluminum Chloride(PAC)</option>
                </select>
                <select name="jarOne[]" id="shape" method="post" class="model">
                    <option hidden="" disabled="disabled" selected="selected" value="">Jar Shape</option>
                    <option value='1'>Round 1000mL</option>
                    <option value='2'>Square 1000mL</option>
                </select>
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Air Temperature"/>
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Water Temperature" />
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Raw pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Settled pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Raw Turbidity" />
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Mixer Speed" />
                <input autocomplete="off" class="inputform" type="text" name="jarOne[]" placeholder="Settle Time (min)" />          
            </div>
            <div>
                <h3>Jar #2</h3>
                <select name="jarTwo[]" id="coagulants2" method="post">
                    <option hidden="" disabled="disabled" selected="selected" value=0>Select Coagulant</option>
                    <option value=1>Polyaluminum Chloride(PAC)</option>
                </select>
                <select name="jarTwo[]" id="shape" method="post" class="model">
                    <option hidden="" disabled="disabled" selected="selected" value="">Jar Shape</option>
                    <option value='1'>Round 1000mL</option>
                    <option value='2'>Square 1000mL</option>
                </select>
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Air Temperature"/>
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Water Temperature" />
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Raw pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Settled pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Raw Turbidity" />
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Mixer Speed" />
                <input autocomplete="off" class="inputform" type="text" name="jarTwo[]" placeholder="Settle Time (min)" />
            </div>
            <div>
                <h3>Jar #3</h3>
                <select name="jarThree[]" id="coagulants3" method="post">
                    <option hidden="" disabled="disabled" selected="selected" value=0>Select Coagulant</option>
                    <option value=1>Polyaluminum Chloride(PAC)</option>
                </select>
                <select name="jarThree[]" id="shape" method="post" class="model">
                    <option hidden="" disabled="disabled" selected="selected" value="">Jar Shape</option>
                    <option value='1'>Round 1000mL</option>
                    <option value='2'>Square 1000mL</option>
                </select>
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Air Temperature"/>
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Water Temperature" />
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Raw pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Settled pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Raw Turbidity" />
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Mixer Speed" />
                <input autocomplete="off" class="inputform" type="text" name="jarThree[]" placeholder="Settle Time (min)" />
            </div>
            <div>
                <h3>Jar #4</h3>
                <select name="jarFour[]" id="coagulants4" method="post">
                    <option hidden="" disabled="disabled" selected="selected" value=0>Select Coagulant</option>
                    <option value=1>Polyaluminum Chloride(PAC)</option>
                </select>
                <select name="jarFour[]" id="shape" method="post" class="model">
                    <option hidden="" disabled="disabled" selected="selected" value="">Jar Shape</option>
                    <option value='1'>Round 1000mL</option>
                    <option value='2'>Square 1000mL</option>
                </select>
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Air Temperature"/>
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Water Temperature" />
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Raw pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Settled pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Raw Turbidity" />
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Mixer Speed" />
                <input autocomplete="off" class="inputform" type="text" name="jarFour[]" placeholder="Settle Time (min)" />
            </div>
            <div>
                <h3>Jar #5</h3>
                <select name="jarFive[]" id="coagulants5" method="post">
                    <option hidden="" disabled="disabled" selected="selected" value=0>Select Coagulant</option>
                    <option value=1>Polyaluminum Chloride(PAC)</option>
                </select>
                <select name="jarFive[]" id="shape" method="post" class="model">
                    <option hidden="" disabled="disabled" selected="selected" value="">Jar Shape</option>
                    <option value='1'>Round 1000mL</option>
                    <option value='2'>Square 1000mL</option>
                </select>
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Air Temperature"/>
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Water Temperature" />
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Raw pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Settled pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Raw Turbidity" />
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Mixer Speed" />
                <input autocomplete="off" class="inputform" type="text" name="jarFive[]" placeholder="Settle Time (min)" />
            </div>
            <div>
                <h3>Jar #6</h3>
                <select name="jarSix[]" id="coagulants6" method="post">
                    <option hidden="" disabled="disabled" selected="selected" value=0>Select Coagulant</option>
                    <option value=1>Polyaluminum Chloride(PAC)</option>
                </select>
                <select name="jarSix[]" id="shape" method="post" class="model">
                    <option hidden="" disabled="disabled" selected="selected" value="">Jar Shape</option>
                    <option value='1'>Round 1000mL</option>
                    <option value='2'>Square 1000mL</option>
                </select>
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Air Temperature"/>
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Water Temperature" />
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Raw pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Settled pH" />
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Raw Turbidity" />
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Mixer Speed" />
                <input autocomplete="off" class="inputform" type="text" name="jarSix[]" placeholder="Settle Time (min)" />
                <button type="submit" class="btn" value="Submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
