{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}
<div>
    <div class="contributionForm">
        <form class="jarform" id="formOne">
            <h3>Jar #1</h3>
            <select name="type" id="coagulants" method="post" required>
                <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
                <option value='1'>Polyaluminum Chloride(PAC)</option>
            </select>
            <input class="inputform" type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
            <input class="inputform" type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
            <input class="inputform" type="text" name="RawPh" placeholder="Raw pH" required="required" />
            <input class="inputform" type="text" name="SettledPh" placeholder="Settled pH" required="required" />
            <input class="inputform" type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
            <input class="inputform" type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
            <input class="inputform" type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        </form>
        <form class="jarform" id="formTwo">
            <h3>Jar #2</h3>
            <select name="type" id="coagulants" method="post" required>
                <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
                <option value='1'>Polyaluminum Chloride(PAC)</option>
            </select>
            <input class="inputform" type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
            <input class="inputform" type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
            <input class="inputform" type="text" name="RawPh" placeholder="Raw pH" required="required" />
            <input class="inputform" type="text" name="SettledPh" placeholder="Settled pH" required="required" />
            <input class="inputform" type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
            <input class="inputform" type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
            <input class="inputform" type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        </form>
        <form class="jarform" id="formThree">
            <h3>Jar #3</h3>
            <select name="type" id="coagulants" method="post" required>
                <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
                <option value='1'>Polyaluminum Chloride(PAC)</option>
            </select>
            <input class="inputform" type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
            <input class="inputform" type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
            <input class="inputform" type="text" name="RawPh" placeholder="Raw pH" required="required" />
            <input class="inputform" type="text" name="SettledPh" placeholder="Settled pH" required="required" />
            <input class="inputform" type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
            <input class="inputform" type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
            <input class="inputform" type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        </form>
        <form class="jarform" id="formFour">
            <h3>Jar #4</h3>
            <select name="type" id="coagulants" method="post" required>
                <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
                <option value='1'>Polyaluminum Chloride(PAC)</option>
            </select>
            <input class="inputform" type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
            <input class="inputform" type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
            <input class="inputform" type="text" name="RawPh" placeholder="Raw pH" required="required" />
            <input class="inputform" type="text" name="SettledPh" placeholder="Settled pH" required="required" />
            <input class="inputform" type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
            <input class="inputform" type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
            <input class="inputform" type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        </form>
        <form class="jarform" id="formFive">
            <h3>Jar #5</h3>
            <select name="type" id="coagulants" method="post" required>
                <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
                <option value='1'>Polyaluminum Chloride(PAC)</option>
            </select>
            <input class="inputform" type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
            <input class="inputform" type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
            <input class="inputform" type="text" name="RawPh" placeholder="Raw pH" required="required" />
            <input class="inputform" type="text" name="SettledPh" placeholder="Settled pH" required="required" />
            <input class="inputform" type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
            <input class="inputform" type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
            <input class="inputform" type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        </form>
        <form class="jarform" id="formSix">
            <h3>Jar #6</h3>
            <select name="type" id="coagulants" method="post" required>
                <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
                <option value='1'>Polyaluminum Chloride(PAC)</option>
            </select>
            <input class="inputform" type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
            <input class="inputform" type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
            <input class="inputform" type="text" name="RawPh" placeholder="Raw pH" required="required" />
            <input class="inputform" type="text" name="SettledPh" placeholder="Settled pH" required="required" />
            <input class="inputform" type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
            <input class="inputform" type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
            <input class="inputform" type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        </form>
    </div>
    <input class="btn" type="button" value="Submit" onclick="submitForms()" />
</div>
{% endblock %}
