{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}
<div class="login">
	<h1>Virtual Jar Testing</h1>
     <h3> Fill out the following forms to calulate an optimal coagulant dosage</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <select name="type" id="coagulants" method="post" required>
          <option hidden="" disabled="disabled" selected="selected" value="">Select Coagulant</option>
          <option value='1'>Polyaluminum Chloride(PAC)</option>
        </select>
		    <input type="text" name="AirTemp" placeholder="Air Temperature" required="required"/>
    	  <input type="text" name="WaterTemp" placeholder="Water Temperature" required="required" />
    	  <input type="text" name="RawPh" placeholder="Raw pH" required="required" />
    	  <input type="text" name="SettledPh" placeholder="Settled pH" required="required" />
        <input type="text" name="RawTurb" placeholder="Raw Turbidity" required="required" />
        <input type="text" name="MixerSpeed" placeholder="Mixer Speed" required="required" />
        <input type="text" name="SettleTime" placeholder="Settle Time (min)" required="required" />
        <button type="submit" class="btn" id="submitBtn" onmousedown="downFunction()" onmouseup="upFunction()">Calculate</button>
    </form>
   <br>
   <h2>
      {{ prediction_text }}
   </h2>
 </div>
{% endblock %}
